{% extends "base.html" %}

{% block title %}Individuals{% endblock %}

{% block content %}
Add Individual:
<form action="{% url 'individual add' %}" method="post">
    {% csrf_token %}
    {{ add_form }}
    <input type="submit" value="Add" />
</form>
<hr>
Combine Individuals:
<form action="{% url 'individual combine' %}" method="post">
    {% csrf_token %}
    {{ combine_form }}
    <input type="submit" value="Combine" />
</form>
<hr>
Individuals:
{% if individuals %}
    <ul>
        {% for individual in individuals %}
            <li><a href="{% url 'individual view' individual.id %}"> {{ individual.id }}</a> {{ individual.name }}</li>
        {% endfor %}
    </ul>
{% else %}
    <p>No individuals to display.</p>
{% endif %}
{% endblock %}