{% extends "base.html" %}

{% block title %}Group Sightings{% endblock %}

{% block content %}
Group Sightings:
{% if group_sightings %}
    <ul>
        {% for group_sighting in group_sightings %}
            <li>
                <a href="{% url 'group sighting view' group_sighting.earthranger_serial %}"> {{ group_sighting.datetime }} {{ group_sighting.earthranger_serial }}</a><br>
                <a href="{{ ER_MAIN }}event/{{ group_sighting.earthranger_id }}">EarthRanger link</a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No group sightings to display.</p>
{% endif %}
{% endblock %}