{% extends "base.html" %}

{% block content %}
{% block info %}
<a href="{% url 'group sighting list' %}">Group Sighting</a> {{ object }}:
<ul>
    <li>Time: {{ object.datetime }} </li>
    <li>Lat, Lon: ({{ object.lat }}, {{ object.lon }}) </li>
    <li>Individual Sightings:
        <ol>
            {% for individual_sighting in object.individual_sighting_set.all %}
                <li> ID: {% if individual_sighting.individual %}
                            <a href="{% url 'individual view' individual_sighting.individual.pk %}"> {{ individual_sighting.individual.name }} </a>
                         {% else %}
                            Unknown
                         {% endif %}
                    <br>
                    Individual Sighting: <a href="{% url 'individual sighting view' individual_sighting.pk %}"> {{ individual_sighting.pk }} </a>
                </li>
            {% endfor %}
        </ol>
    </li>
</ul>
{% endblock %}

{% block form %}
<ul>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <li>
            Unphotographed Individuals ({{ object.unphotographed_individuals.count }}):
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#unphotographed_individuals">
                Expand
            </button>
            <div class="collapse" id="unphotographed_individuals">
                <p>Please record any Individuals you saw in the field but were unable to take any photos of in the following section:</p>
                {{ unphotographed_individuals_form.unphotographed_individuals }}
            </div>
        </li>
    {{ subgroup_sighting_formset.management_form }}
    {% if object.individual_sighting_set.count or object.unphotographed_individuals.count %}
        <li>
            Subgroup Sightings:
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#subgroup_sighting_info">
                Instructions
            </button>
            <div class="collapse" id="subgroup_sighting_info">
                <p>Please group subgroups of elephants by social interaction. Select all relevant Individual_Sightings and unphotographed Individuals.</p>
            </div>
            <br>
            <div id="subgroup_sighting_formset">
                <ul>
                {% for subgroup_sighting_form in subgroup_sighting_formset %}
                    <li>
                        <a href="/subgroup_sighting/{{ subgroup_sighting_form.instance.pk }}">{{ subgroup_sighting_form.instance.pk }}</a>
                        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#subgroup_sighting{{ forloop.counter0 }}">
                            Expand
                        </button>
                        <div class="collapse" id="subgroup_sighting{{ forloop.counter0 }}">
                            {{ subgroup_sighting_form }}
                        </div>
                    </li>
                {% endfor %}
                </ul>
                <input type="button" value="+" id="add_subgroup_sighting">
                <div id="empty_subgroup_sighting_form" style="display:none">
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#new_subgroup_sighting?">
                        New Subgroup Sighting ?
                    </button>
                    <div class="collapse" id="new_subgroup_sighting?">
                        {{ subgroup_sighting_formset.empty_form }}
                    </div>
                </div>
            </div>
        </li>
    {% endif %}
        {% include 'filepond.html' %}
        <hr>
        {% include "../annotator/view.html" with images=images boxes=boxes categories=categories max_category_id=max_category_id annotate=True %}
        <input type="hidden" name="boxes" id="boxes" value="">
        <hr>
        <button class="btn btn-danger" type="button" data-toggle="collapse" data-target="#deletePhotos">
            Photo Deletion Menu
        </button>
        <div class="collapse" id="deletePhotos">
            Any checked photos will be deleted, along with any bounding boxes or individual sightings attached to them. Beware.
            {{ photo_delete_form.photos }}
        </div>
        <hr>
        Notes:
        <br>
        {{ notes_form.notes }}
        <hr>
        <input type="submit" value="Save" />

    </form>
</ul>

<script>
    let n_new_subgroup_sightings = 0;
    $('#add_subgroup_sighting').click(function() {
        var form_idx = parseInt($("#id_form-TOTAL_FORMS").val());
        n_new_subgroup_sightings++;
        $("#subgroup_sighting_formset").append($("#empty_subgroup_sighting_form").html().replace(/__prefix__/g, form_idx).replaceAll("new_subgroup_sighting?", "new_subgroup_sighting"+n_new_subgroup_sightings).replace("New Subgroup Sighting ?", "New Subgroup Sighting "+n_new_subgroup_sightings));
        $("#id_form-TOTAL_FORMS").val(form_idx + 1);
    });
</script>
{% endblock %}
{% endblock %}
