{% extends "base.html" %}

{% block title %}Social Sightings{% endblock %}

{% block content %}
Social Sightings:
{% if social_sightings %}
    <ul>
        {% for social_sighting in social_sightings %}
            <li>Social Sighting: <a href="{% url 'social sighting view' social_sighting.id %}"> {{ social_sighting.id }}</a>, Group Sighting: <a href="/group_sighting/{{ social_sighting.group_sighting.earthranger_serial }}">{{ social_sighting.group_sighting.earthranger_serial }}</a>, Photographed/unphotographed elephants: {{ social_sighting.individual_sightings.count }}/{{ social_sighting.unphotographed_individuals.count }}</li>
        {% endfor %}
    </ul>
{% else %}
    <p>No Social Sightings to display.</p>
{% endif %}
{% endblock %}