{% extends "base.html" %}

{% block title %}Unidentified Individual Sightings{% endblock %}

{% block content %}
Individual Sightings to be Identified:
{% if individual_sightings %}
    <ul>
        {% for individual_sighting in individual_sightings %}
            <li>Individual Sighting: <a href="{% url 'individual sighting view' individual_sighting.id %}"> {{ individual_sighting.id }}</a>, Group Sighting: <a href="{% url 'group sighting view' individual_sighting.group_sighting.earthranger_serial %}">{{ individual_sighting.group_sighting.earthranger_serial }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <p>No individual sightings to display.</p>
{% endif %}
{% endblock %}